# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf
*.slo
*.lo

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.lai

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Doxygen
**/doxygen/html
**/doxygen/latex
**/doxygen/*.log
**/doxygen/*.log.*
**/doxygen/*.bak
**/doxygen/*.bak.*
**/examples/*/html
**/html
**/latex
**/rtf
**/xml
**/man
**/docbook
**/perlmod

# VS Code
**/.vscode/*
!**/.vscode/settings.json
!**/.vscode/tasks.json
!**/.vscode/launch.json
!**/.vscode/extensions.json
!**/.vscode/*.code-snippets
**/.history/
**/*.vsix

# Build
**/build/*
!**/build/.placeholder

# General folders and files
**/kostra_repozitare
**/sandbox
**/backup
/info/raw/*
*.doc
*.docx
